p{
    font-family:Roboto;
    font-size: 20px;
    text-transform: uppercase;

}
p::before{
    content: "«";
    color:red;
    font-family:Lato;
    font-size: 30px;
}
P::after{
    content: "»";
    color:red;
    font-family:Lato;
    font-size: 30px;
}